// bootstrap colors
$primary: #007ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
// colors
$black: #000000;
$white: #ffffff;
$darkgrey: #505050;
$grey: #d0d0d0;
$lightgrey: #f0f0f0;
$extralightgrey: #f2f2f2;
$red: #ff0000;
// other vals
$boxPadding: 0.5em;
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	color: $black;
	font-family: 'Play', sans-serif;
	font-size: 1.75em;
	overflow-x: hidden;

/*
*	colouring
*/
	.primary { color: $primary; }
	.success { color: $success; }
	.info { color: $info; }
	.warning { color: $warning; }
	.danger { color: $danger; }
	.primary-bg { background: $primary; }
	.success-bg { background: $success; }
	.info-bg { background: $info; }
	.warning-bg { background: $warning; }
	.danger-bg { background: $danger; }

/*
*	DOM elements general
*/
	a {
		text-decoration: none;
		&:hover, &:focus {
			outline: none;
			text-decoration: none;
		}
		&:hover {cursor: pointer}
	}
	.selected {
		background: $grey;
	}
	.inactive {
		background: none;
	}
	.spacer {
		flex: 1 1 auto;
	}

	h1:hover, h2:hover, h3:hover, h4:hover, p:hover { cursor: default; }
	h1, h2, h3, h4 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	form {
		legend {
			color: $darkgrey;
			&:hover {
				cursor: default;
			}
		}
		textarea {
			resize: vertical;
		}
	}

	table {
		border-collapse: collapse;
		background: transparent;
		width: 100%;
		line-height: 1.8em;
		border-color: transparent;
		thead {
			display: table-row-group;
			vertical-align: middle;
		}
		tbody {
			display: table-row-group;
			vertical-align: middle;
			border-color: transparent;
		}
		tr {
			display: table-row;
			border: 1px solid;
			border-left: 0;
			border-right: 0;
			border-top: 0;
		}
		td {
			display: table-cell;
			font-size: 1.1em;
			padding: 0.5em;
			&:hover {
				cursor: default;
			}
		}
	}

/*
*	layout
*/
	.component-container {
		width: 100%;
		padding-left: $boxPadding;
		padding-right: $boxPadding;
	}

	.full-width {
		width: 100%;
	}
	.pull-right {
		float: right!important;
	}

	#spinner {
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		color: #ffffff;
		text-align: center;
		z-index: 1000;
		img {
			width: 20vh;
			height: auto!important;
		}
	}

	root {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	app-nav {
		width: 100vw;
		height: auto!important;
		flex: 0 1 auto;
	}

	app-info {
		flex: 0 1 auto;
		height: 10vh;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.flex-item {
			flex: 1;
			text-align: center;
			text-decoration: none;
			&:hover{
				background: $lightgrey;
			}
			img {
				min-height: 5vh;
				height: 10vh;
				max-height: 10vh;
				width: auto !important;
				max-width: 24vw;
			}
		}
	}

	dashboard-intro {
		flex: 1 1 auto;
		align-self: stretch;
		#modal {
			z-index: 10;
			height: 100vh;
			width: 100vw;
			padding: 60px 25px 25px 25px;
			color: #ffffff;
			position: fixed;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0, 0.9);
			transition: 0.5s;
			.close {
				float: right;
				font-size: 5vh;
				font-weight: 700;
				line-height: 1;
				color: $lightgrey;
				text-shadow: 0 1px 0 $white;
				opacity: 0.2;
				-webkit-appearance: none;
				padding: 0;
				cursor: pointer;
				background: transparent;
				border: 0;
			}
			table {
				font-size: 0.75em;
			}
		}
	}

	dashboard-login {
		flex: 1 1 auto;
		align-self: stretch;
		#login-form {
			@media(max-width: 767px) {
				margin-left: 10vw;
				margin-right: 10vw;
			}
			@media(min-width: 768px) {
				margin-left: 25vw;
				margin-right: 25vw;
			}
			@media(min-width: 992px) {
				margin-left: 25vw;
				margin-right: 25vw;
			}
			@media(mix-width: 1200px) {
				margin-left: 25vw;
				margin-right: 25vw;
			}
			md-input-container, button {
				width: 100%;
			}
		}
	}

	dashboard-details {
		flex: 1 1 auto;
		align-self: stretch;
		.input-label {
			&:hover{
				cursor: default;
			}
		}
		#filters {
			z-index: 2;
			width: 100%;
			border: 1px $grey dotted;
			box-sizing: border-box;
			padding: $boxPadding;
			display: flex;
			align-items: center;
			.flex-item {
				flex: 1;
				text-align: center;
			}
		}
		#dashboard-data {
            .listing {
                list-style: none;
                padding: 0;
                li {
                    padding-left: 1.5em;
                    &:before {
                        content: "\f02e";
                        font-family: FontAwesome;
                        display: inline-block;
                        margin-left: -1.5em;
                        width: 1.5em;
                    }
                    h3, span {
                        display: inline-block;
                        &:hover {
                            cursor: default;
                        }
                    }
                    div {
                        &:hover {
                            cursor: default;
                        }
                    }
                }
                .item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: stretch;
                    .details {
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        flex-grow: 1;
                        display: none;
                        justify-content: space-around;
                        align-items: stretch;
                    }
                }
            }
		}
	}
}
