<div id="flex-nav">
	<a (click)="switchNavButtons($event, true);" class="flex-nav-item" [ngClass]="{selected: navButtonsState[0], inactive: !navButtonsState[0]}">
		<i class="fa fa-question-circle-o"></i> {{ 'help' | translate }}
	</a>
	<a [routerLink]="['intro']" (click)="switchNavButtons($event, true)" class="flex-nav-item" [ngClass]="{selected: navButtonsState[1], inactive: !navButtonsState[1]}">
		<i class="fa fa-tachometer"></i> {{ 'intro' | translate }}
	</a>
	<a [routerLink]="['login']" (click)="switchNavButtons($event, true)" class="flex-nav-item" [ngClass]="{selected: navButtonsState[2], inactive: !navButtonsState[2]}">
		<i class="fa fa-user"></i> {{ 'login' | translate }}
	</a>
	<a [routerLink]="['data']" (click)="switchNavButtons($event, true)" class="flex-nav-item" [ngClass]="{selected: navButtonsState[3], inactive: !navButtonsState[3]}">
		<i class="fa fa-database"></i> {{ 'data' | translate }}
	</a>
	<span class="btn-group">
		<a *ngFor="let lang of supportedLanguages" class="btn btn-default btn-sm" (click)="selectLanguage(lang.key)">{{lang.name}}</a>
	</span>
</div>
