<div class="component-container">
	<h3>{{ 'login' | translate }}</h3>

	<div *ngIf="errorMessage" class="danger-bg">
		{{errorMessage}}
	</div>

	<form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
		<legend>{{ 'login_instructions' | translate }}</legend>
		<md-input-container>
			<input mdInput type="text" name="email" [formControl]="loginForm.controls.email" placeholder="{{ 'email' | translate }}" required />
			<md-icon mdSuffix class="material-icons">email</md-icon>
			<md-error *ngIf="loginForm.controls.email.invalid">
				invalid value, required: email, at least 7 characters long
			</md-error>
		</md-input-container>
		<md-input-container>
			<input mdInput type="text" name="password" [formControl]="loginForm.controls.password" placeholder="{{ 'password' | translate }}" required />
			<md-icon mdSuffix class="material-icons">lock</md-icon>
			<md-error *ngIf="loginForm.controls.password.invalid">
				invalid value, required: at least 1 character
			</md-error>
		</md-input-container>
		<span *ngIf="userService.getUser().email" class="pull-right"><a (click)="resetForm()">{{ 'forget_my_address' | translate }}</a></span>
		<button md-button type="submit" [disabled]="loginForm.pristine || loginForm.invalid" [attr.aria-label]="submit">
			{{ 'submit' | translate }}
		</button>
	</form>
</div>
