<mat-form-field class="readonly" fxFlex="1 1 auto">
	<input matInput type="text" name="country" [(ngModel)]="formData.country" placeholder="{{ 'country' | translate }}" [readonly]="true">
</mat-form-field>
<mat-form-field class="readonly" fxFlex="1 1 auto">
	<input matInput type="text" name="regions" [(ngModel)]="formData.regions" placeholder="{{ 'regions' | translate }}" [readonly]="true"/>
</mat-form-field>

<div fxFlex id="d3-map-container"></div>
<div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">
	<a mat-button attr.aria-label="{{ 'world_map' | translate }}" (click)="selectMap('world')" [disabled]="selectedMap() === 'world'">{{ 'world_map' | translate }}</a>
	<a mat-button attr.aria-label="{{ 'russia_map' | translate }}" (click)="selectMap('rus')" [disabled]="selectedMap() === 'rus'">{{ 'russia_map' | translate }}</a>
</div>
